name: Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  IDF_VERSION: release/v4.2

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:

      - uses: actions/checkout@v3

      - name: Build
        run: bash build.sh

      - name: Test Builds
        run: | 
          cd TESTS
          bash tests.sh

      - name: Test Builds
        run: | 
          cd TESTS
          bash tests.sh

      - name: Push
        run: echo {{secrets.DOCKER_TOKEN}} | docker login -u {{secrets.DOCKER_USER}} --password-stdin && bash push.sh 

          
        
